In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from sklearn.preprocessing import LabelEncoder , OneHotEncoder , StandardScaler
from sklearn.cross_validation import train_test_split
%matplotlib inline

In [ ]:
# I     PRZYGOTOWYWANIE DANYCH

NameError: name 'pd' is not defined

In [33]:
data= pd.read_csv('bank.csv',sep=';')

In [117]:
#Replace unknown to NA
data.poutcome.replace(('unknown'), (np.NaN), inplace=True)
data.marital.replace(('other'), (np.NaN), inplace=True)
data.poutcome.replace(('other'), (np.NaN), inplace=True)
data.job.replace(('other'), (np.NaN), inplace=True)

C:\Users\Ola\AppData\Roaming\Python\Python36\site-packages\pandas\core\generic.py:4619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [118]:
#Drop Nan
data = data.dropna(axis=0)

In [80]:
#Take all of the independent variables 
X = data.iloc[:,:-1].values

In [81]:
Y = data.iloc[:,16].values

In [121]:
#Change labels 
labelEncoder_X = LabelEncoder() 
X[:,1]= labelEncoder_X.fit_transform(X[:,1])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()

ValueError: could not convert string to float: 'other'

In [100]:
labelEncoder_X = LabelEncoder() 
X[:,4]= labelEncoder_X.fit_transform(X[:,4])

In [84]:
#Change labels 
labelEncoder_Y = LabelEncoder() 
Y = labelEncoder_Y.fit_transform(Y)

In [113]:
#Replace yes , no to 0 and 1 values 

data.default.replace(('yes', 'no'), (1, 0), inplace=True)
data.housing.replace(('yes', 'no'), (1, 0), inplace=True)
data.loan.replace(('yes', 'no'), (1, 0), inplace=True)
data.poutcome.replace(('success', 'failure'), (1, 0), inplace=True)

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [123]:
print('Null values: ', data.isnull().values.any())
print('There are no null values')

Null values:  False
There are no null values

In [125]:
#   II     Spliting dataset into test set and training set 
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size=0.3 , random_state = 0)

In [ ]:
# III SCALING NUMERICAL VARIABLES 
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

ValueError: could not convert string to float: 'failure'

In [129]:
#    IV   DISCRIPTIVE STATISTICS
print('Data shape: ',data.shape, '\nColumn types:\n',
data.dtypes)

Data shape:  (619, 17)
Column types:
 age           int64
job          object
marital      object
education    object
default       int64
balance       int64
housing       int64
loan          int64
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y             int64
dtype: object

In [135]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,0,4789,1,1,cellular,11,may,220,1,339,4,0,0
2,35,management,single,tertiary,0,1350,1,0,cellular,16,apr,185,1,330,1,0,0
5,35,management,single,tertiary,0,747,0,0,cellular,23,feb,141,2,176,3,0,0
9,43,services,married,primary,0,-88,1,1,cellular,17,apr,313,1,147,2,0,0
14,31,blue-collar,married,secondary,0,360,1,1,cellular,29,jan,89,1,241,1,0,0
17,37,admin.,single,tertiary,0,2317,1,0,cellular,20,apr,114,1,152,2,0,0
27,67,retired,married,unknown,0,696,0,0,telephone,17,aug,119,1,105,2,0,0
38,33,management,married,secondary,0,3935,1,0,cellular,6,may,765,1,342,2,0,1
40,38,management,single,tertiary,0,11971,1,0,unknown,17,nov,609,2,101,3,0,0
49,61,admin.,married,unknown,0,4629,1,0,cellular,27,jan,181,1,92,1,1,1
65,51,blue-collar,divorced,secondary,0,203,1,0,cellular,8,may,134,1,170,5,0,0
70,37,management,married,tertiary,0,0,0,0,cellular,16,jul,268,2,182,3,1,1
79,40,unemployed,married,secondary,0,219,1,0,cellular,17,nov,204,2,196,1,0,0
83,52,services,married,secondary,0,657,0,0,telephone,7,jul,398,2,460,2,0,1
97,30,admin.,single,tertiary,0,261,0,0,cellular,19,oct,233,1,137,20,0,0
98,36,blue-collar,divorced,secondary,0,2843,0,0,cellular,12,feb,473,1,182,1,1,0
101,38,management,single,tertiary,0,493,1,0,cellular,11,may,553,1,367,7,0,0
105,32,management,single,tertiary,0,574,1,0,cellular,14,apr,259,2,145,3,0,0
110,21,student,single,secondary,0,2488,0,0,cellular,30,jun,258,6,169,3,1,1
113,33,blue-collar,single,secondary,0,22,0,0,cellular,30,jan,76,2,207,1,0,0
124,51,management,single,tertiary,1,-55,1,0,cellular,11,may,281,2,266,6,0,0
128,32,blue-collar,single,secondary,0,228,0,0,telephone,5,feb,176,1,288,3,0,0
133,48,admin.,married,unknown,0,0,1,0,cellular,8,may,85,1,168,2,0,0
136,29,admin.,single,secondary,0,428,1,1,cellular,7,may,54,1,345,2,0,0
156,55,admin.,married,secondary,0,602,0,0,cellular,1,jun,324,3,90,2,1,1
157,55,technician,married,secondary,0,273,1,0,cellular,29,jan,84,3,183,3,0,0
164,28,management,single,tertiary,0,80,0,0,cellular,20,oct,676,2,146,2,0,1
177,37,admin.,married,secondary,0,176,1,0,cellular,5,may,147,2,347,1,0,0
179,37,admin.,married,tertiary,0,0,1,0,cellular,17,nov,65,2,119,1,0,0
186,34,admin.,married,tertiary,0,899,1,0,telephone,19,nov,377,3,7,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4312,30,services,single,secondary,0,20,1,0,cellular,20,apr,404,6,340,1,0,0
4314,31,technician,single,secondary,0,1626,0,0,cellular,7,may,356,2,286,3,0,0
4319,70,retired,divorced,secondary,0,6850,0,0,telephone,5,mar,252,3,183,1,0,0
4323,83,retired,divorced,primary,0,0,0,0,telephone,31,may,664,1,77,3,1,0
4324,50,management,divorced,tertiary,0,100,1,1,cellular,13,may,157,1,299,3,0,0
4337,73,retired,married,unknown,0,519,0,0,telephone,16,oct,434,1,57,1,0,1
4343,51,blue-collar,married,primary,0,40,1,0,cellular,13,may,79,1,370,1,0,0
4347,32,admin.,married,secondary,0,0,1,1,cellular,17,nov,159,2,195,2,0,0
4363,38,blue-collar,single,secondary,0,13156,1,0,cellular,17,apr,291,4,331,1,0,0
4372,30,technician,single,secondary,0,4787,1,0,cellular,18,nov,266,1,167,2,0,0
4387,31,blue-collar,married,secondary,0,3653,1,1,cellular,21,nov,252,1,168,4,0,0
4396,41,retired,single,primary,0,0,0,0,cellular,8,may,239,1,368,2,0,0
4397,35,blue-collar,married,secondary,0,305,1,0,cellular,18,may,7,7,367,25,0,0
4413,65,retired,married,primary,0,493,0,0,cellular,16,oct,622,1,182,1,0,0
4420,45,technician,married,secondary,0,999,1,0,cellular,20,nov,215,6,188,2,0,0
4423,45,management,single,tertiary,0,2048,1,0,cellular,18,oct,310,1,804,1,0,1
4433,40,management,married,tertiary,0,-17,1,1,cellular,11,may,474,1,256,1,1,1
4434,35,technician,single,secondary,0,175,1,0,cellular,29,jan,219,1,246,1,0,0
4435,31,technician,single,secondary,0,4888,1,0,telephone,5,may,475,4,166,2,0,0
4453,35,blue-collar,married,secondary,0,5304,1,0,cellular,20,nov,340,1,183,2,0,0
4456,37,management,married,primary,0,3953,1,0,cellular,6,apr,610,2,138,1,0,0
4458,29,management,single,tertiary,0,572,0,0,cellular,16,dec,314,1,195,1,1,1
4459,31,admin.,single,secondary,0,223,1,0,cellular,17,apr,508,1,315,11,1,0
4463,33,technician,single,secondary,0,920,1,0,cellular,21,nov,58,1,122,4,0,0
4473,33,technician,married,secondary,0,4790,1,0,cellular,20,apr,137,1,272,2,0,0
4485,53,blue-collar,married,primary,0,238,1,0,cellular,11,may,238,2,361,5,0,0
4489,45,management,married,tertiary,0,6945,0,0,cellular,5,aug,131,5,356,3,0,0
4492,32,technician,single,secondary,0,309,1,1,cellular,16,apr,346,1,234,3,0,0
4504,42,blue-collar,single,secondary,0,1080,1,1,cellular,13,may,951,3,370,4,0,1
4514,38,blue-collar,married,secondary,0,1205,1,0,cellular,20,apr,45,4,153,1,0,0